#exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")
import(datasets)
import(utils)
import(stats)
import(graphics)
import(grDevices)
#import("ResourceSelection")
#importFrom(datasets, cars)
#importFrom(ResourceSelection, hoslem.test)
